/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --bg-color-h: #d3d3d3;
    --bg-color-v-start: #e7e7e7;
    --bg-color-v-finish: #1a1a1a;
    --main-color: #000000;
    --main-font:"Inter-Variable";
    --button-color: #fff;
    --fs: 18px;
    --accent-font: "PressStart2P-Regular";
    --title-font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
    --bg-color: #fff;

    /* --font-weight: 400; */
    --bg-image: repeating-linear-gradient(
        to right,
        var(--bg-color-h),
        var(--bg-color-h) 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        to bottom,
        var(--bg-color-v-start),
        var(--bg-color-v-start) 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(
        to bottom,
        var(--bg-color-v-start) 0.01%,
        var(--bg-color-v-finish) 100%
      );
      --sparks-color: red;




      /* }font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;

font-family: Press Start 2P;
font-size: 14px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: left;

font-family: Press Start 2P;
font-size: 23px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left; */